@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
}
:root {
  --img-repeat: bg-no-repeat;
  --img-cover: bg-cover;
  --img-width: w-[50%];
  --img-height: h-[25em];
}
